body{
  height: 100vh;
  width: 100vw;
  margin:0;
  padding:0;
  position:relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}


#config{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  background-color:white;
  height:100%;
  padding: 0 20px 0 20px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: absolute;
  z-index: 100;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  transition:0.5s;
  width:325px;
}

#mosaic{
  -webkit-flex-grow: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  background-color: royalblue;
}

.buttons{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}

#background .form-group button{
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin:5px;
}

form h3{
  font-size: 15px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.slider{
  display: block;
}

.show-slide{
  -webkit-transform: translateX(0%) !important;
  -ms-transform: translateX(0%) !important;
  transform: translateX(0%) !important;
  transition:0.5s;
}

#palettes {
  height:25vh;
  overflow:scroll;
  overflow-x:hidden;
 
  
}

#links.buttons{
  position:absolute;
  color:white;
  top:15px;
  right:35px;
  font-size:2.5em;
  cursor:pointer;
  z-index:10;
}

#links.buttons a{
  color: white;
  margin:0 15px 0 15px;
  display: none;
}

#links.buttons a:hover{
  color: white;
}


.palette{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin:5px 0 5px 0;
  cursor:pointer;
}

#trianglify-box{
  visibility:hidden;
}

.color-item{
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1;
}


/*.layer{*/
/*  position:absolute;*/
/*  z-index:5;*/
/*  height: 100%;*/
/*  width:100%;*/
/*}*/