body{
  height: 100vh;
  width: 100vw;
  margin:0;
  padding:0;
  position:relative;
  display: flex;
}


#config{
  display: flex;
  flex-flow: column;
  background-color:white;
  height:100%;
  padding: 0 20px 0 20px;
  flex-grow: 1;
  position: absolute;
  z-index: 100;
  transform: translateX(-100%);
  transition:0.5s;
}

#mosaic{
  flex-grow: 10;
  background-color: royalblue;
}

#background .buttons{
  display:flex;
}

#background .form-group button{
  flex-grow: 1;
  margin:5px;
}

form h3{
  font-size: 15px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.slider{
  display: block;
}

.show-slide{
  transform: translateX(0%) !important;
  transition:0.5s;
}

#palettes {
  height:25vh;
  overflow:scroll;
  overflow-x:hidden;
 
  
}

#settings{
  position:absolute;
  color:white;
  top:15px;
  right:35px;
  font-size:2.5em;
  cursor:pointer;
}



.palette{
  display:flex;
  margin:5px 0 5px 0;
  cursor:pointer;
}

#trianglify-box{
  visibility:hidden;
}

.color-item{
  flex-grow:1;
}


/*.layer{*/
/*  position:absolute;*/
/*  z-index:5;*/
/*  height: 100%;*/
/*  width:100%;*/
/*}*/